<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.toem.toolkits.pattern.serializer">
      <serializer
            description="%serializer.description.swv"
            id="de.toem.impulse.serializer.swv"
            label="%serializer.label.swv"
            group="de.toem.impulse.group.embedded"
            reader="de.toem.impulse.extension.embedded.swv.SwvReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.svdat"
            description="%serializer.description.svdat"
            id="de.toem.impulse.serializer.svdat"
            label="%serializer.label.svdat"
            group="de.toem.impulse.group.embedded"
            reader="de.toem.impulse.extension.embedded.svdat.SvDatReader">
      </serializer>
      <serializer
            contentType="ch.ukos.impulse.contentType.log.binary"
            description="%serializer.description.imp"
            id="ch.ukos.impulse.serializer.log.binary"
            label="%serializer.label.imp"
            group="de.toem.impulse.group.embedded"            
            reader="ch.ukos.impulse.serializer.log.UKosBinaryLogReader">
      </serializer>      
  </extension>
     <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-extensions="SVDat"
            id="de.toem.impulse.contentType.svdat"
            name="%content-type.name.svdat"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.svdat">
            </parameter>
         </describer>
      </content-type>
    <content-type
          base-type="de.toem.impulse.contentType.record"
          file-extensions="imp"
          id="ch.ukos.impulse.contentType.log.binary"
          name="%content-type.name.imp"
          priority="normal">
       <describer
             class="de.toem.impulse.serializer.RecordContentDescriber"
             plugin="de.toem.impulse.base">
          <parameter
                name="contentType"
                value="ch.ukos.impulse.contentType.log.binary">
          </parameter>
       </describer>
    </content-type>      
    </extension>
  
  <extension
         point="de.toem.toolkits.pattern.cell">
      <cell
            class="de.toem.impulse.extension.embedded.serial.SerialAdapter"
            description="%cell.description"
            icon="icons/cell16/database_connect.png"
            id="port.record.serial"
            helpUrl="https://toem.de/index.php/resources/all-documents/137-serial-line-adapter"
            label="%cell.label">
      </cell>
    <cell
          class="de.toem.impulse.extension.embedded.svdat.SvDatConfiguration"
          description="%cell.description.0"
          icon="#impulse.serializer.configuration.default"
          id="impulse.serializer.configuration.svdat"
          label="%cell.label.0">
    </cell>
    <cell
          class="de.toem.impulse.extension.embedded.swv.SwvConfiguration"
          description="%cell.description.2"
          icon="#impulse.serializer.configuration.default"
          id="impulse.serializer.configuration.swv"
          label="%cell.label.2">
    </cell>         
   </extension>
   <extension
         point="de.toem.toolkits.pattern.instancer">
      <instancer
            class="de.toem.impulse.extension.embedded.serial.SerialAdapterInstancer"
            description="%instancer.description"
            id="de.toem.impulse.instancer.port.record.serial"
            group="de.toem.impulse.group.embedded"            
            label="%instancer.label">
      </instancer>
    <instancer
          class="de.toem.impulse.extension.embedded.svdat.SvDatConfigurationInstancer"
          description="%instancer.description.0"
          id="de.toem.impulse.instancer.impulse.serializer.configuration.svdat"          
          label="%instancer.label.0">
    </instancer>
    <!--
    <instancer
          class="de.toem.impulse.extension.embedded.jlink.JLinkdapterInstancer"
          description="%instancer.description.1"
          id="de.toem.impulse.instancer.port.record.debug.jlink"
          group="de.toem.impulse.group.embedded"
          label="%instancer.label.1">
    </instancer>
    -->
    <instancer
          class="de.toem.impulse.extension.embedded.swv.SwvConfigurationInstancer"
          description="%instancer.description.2"
          id="de.toem.impulse.instancer.impulse.serializer.configuration.swv"
          label="%instancer.label.2">
    </instancer>         
   </extension>
   <extension
         point="de.toem.toolkits.ui.dialog">
       <dialog
            cellTypes="port.record.serial"
            class="de.toem.impulse.extension.embedded.serial.SerialAdapterDialog"
            id="de.toem.impulse.dialog.port.record.serial"
            label="%dialog.label">
      </dialog>  
    <dialog
          cellTypes="impulse.serializer.configuration.svdat"
          class="de.toem.impulse.extension.embedded.svdat.SvDatConfigurationDialog"
          id="de.toem.impulse.dialog.serializer.configuration.svdat"
          label="%dialog.label.0">

    </dialog> 
            <dialog
              cellTypes="impulse.serializer.configuration.swv"
              class="de.toem.impulse.extension.embedded.swv.SwvConfigurationDialog"
              id="de.toem.impulse.dialog.serializer.configuration.swv"
              label="%dialog.label.1">
        </dialog>
   </extension>
   <extension
         point="de.toem.impulse.base.samplesProducer">
      <samplesProducer
            class="de.toem.impulse.extension.embedded.svdat.SvDatExtract"
            description="%producer.description.svdat"
            group="de.toem.impulse.group.embedded"
            helpUrl="https://toem.de/index.php/resources/all-documents/240-member-extract-production"
            icon="ri-menu-unfold-line"
            id="de.toem.impulse.production.svdat"
            label="%producer.label.svdat"
            showMultipleInputs="false"
            showParameters="true">  
      </samplesProducer>      
   </extension> 
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help.xml"
            plugin="de.toem.impulse.ports.embedded">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="de.toem.impulse.category.newWizards"
            class="de.toem.impulse.extension.embedded.SwvWizard"
            icon="icons/wizards/icons8-c++-16.png"
            id="de.toem.impulse.wizard.swv"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help.xml"
            plugin="de.toem.impulse.extension.embedded">
      </contexts>
   </extension>
   <extension
         point="de.toem.toolkits.pattern.group">
      <group
            description="%group.description.embedded"
            icon="icons/extension.png"
            id="de.toem.impulse.group.embedded"
            label="%group.label.embedded">
      </group>
   </extension>          
</plugin>
